# Database Configuration
DB_NAME=backend_pos_db
DB_USER=root
DB_PASSWORD=your_password_here
DB_HOST=localhost
DB_PORT=3306
DB_DIALECT=mysql

# Server Configuration
PORT=3000
NODE_ENV=development

# App Configuration
APP_NAME=Node API
APP_VERSION=1.0.0
