# Database Configuration
# DATABASE_URL=mysql://root:ZqsrLQAVzQNlIbmXdrydFYDsTeLLDuUj@switchyard.proxy.rlwy.net:43061/railway
DB_NAME=node_db
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306
DB_DIALECT=mysql

# Server Configuration
PORT=3000
NODE_ENV=development

# App Configuration
APP_NAME=Node API
APP_VERSION=1.0.0
